* {
  box-sizing: border-box;
}

body {
  background-color: rgb(87, 167, 157);

}

.main-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
}

.main-title {
  background-color: rgb(110, 135, 145);
  border-radius: 2rem;
  padding: 0px 40px;
}

.title {
  font-weight: bolder;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: x-large;
}

.main-container {
  display: flex;
  justify-content:flex-start;
  align-items: flex-start;
  padding: 0px;
  margin: 0px;
}

.left-menu {
  display: flex;
  flex-direction: column;
  background-color: red;
  padding: 250px 20px;
  border: 2px solid black;
}

.books-input {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  align-items: flex-end;
}

.main-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 20px;
  flex-wrap: wrap;
}

.name-title {
  width: 250px;
  text-align: center;
  height: 150px;
}

.card {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  border: 2px solid red;
  width: 200px;
  border-radius: 0.5rem;
  margin: 10px 20px;
}

.card-items {
  display: flex;
  text-align: left;
  border: 2px solid white;
}